@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic);

body {
	font-family: 'Lato', sans-serif;
	color: white;
	background-color: #FFF;
}
 
.site-title{
	font-weight: 300;
	font-size: 60px;
}

h3 {
	font-weight: 300; 
	font-size: 30px;

}

input {
	width: 100%;
	padding: 10px;
	color: #333;
}

.btn {
	color: white;
	text-align: center;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 1px;
	border: none;
	box-shadow: none;
	border-radius: 5px;

}

.btn-lg {
	width: 20%;
	padding: 10px 35px;
	margin: 20px auto;
}

.btn-sm {
	padding: 5px 15px;
	margin-left: 15px;
}

.default-btn:hover{
	background-color: #43C06F;
}

.default-btn {
	display: block;
	background-color: #12AB47;
}

.important-btn {
	background-color: #AC0534;
}

.important-btn:hover {
	background-color: #D3144A;
}

.containter{
	width: 100%;
}

.intro{
	text-align: center;
	background-color: #558DDB;
	padding: 70px 20%;
	font-weight: 300;
}

.random-block{
	padding: 50px 20% 70px;
	background-color: #DDD;
	color: #666;
}

.right{
	float: right;
}

.qte-mrk {
	font-size: 25px;
	color: #12AB47;
}

.quote-form {
	background-color: #744E98;
	padding: 30px 20% 30px;
}


.undo {
	background-color: #A86A22;
	padding: 10px;
	text-align: center;
	display: none;
	z-index: 1;
	position: absolute;
	width: 100%
}

.quote-block {
	box-sizing: border-box;
	background-color: #ddd;
	color: #333;
	width: 25%; 
	padding: 80px 40px;
	display: inline-block;
	vertical-align: top;
}

.quote-text {
	font-weight: 700;
	text-align: justify;
}

.author {
	font-size: 14px;
	text-align: right;
	font-style: italic;
}

.remove {
	font-size: 12px;
	font-weight: 400;
	text-decoration: underline;
	color: rgba(30, 30, 30, 0.6);
	display: block;
	padding-top: 10px; 
}
.remove:hover {
	color: #AC0534;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}

.rating span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}

.rating span.star:before {
  content: "\f005";
  font-size: 120%;	
  letter-spacing: 3px;
  color: #999;
  }

.rating > span.active ~ span:before {
	color: #D19229;
}

.rating > span.star:hover:before,
.rating > span.star:hover ~ span:before {
   content: "\f005";
   color: gold;
}


footer{
	background-color: #222;
	padding: 20px;
	text-align: center;
	font-size: 13px;
	font-weight: 300;
}

